soa/sy/gpe-basic-auth-soap/sy/src/main/resources/helloJaxWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="jaxwsWsdl_Service" targetNamespace="http://jaxws.wavechain.com" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws.wavechain.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://jaxws.wavechain.com" version="1.0" xmlns:tns="http://jaxws.wavechain.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="exchangeComplexDataTypes" type="tns:exchangeComplexDataTypes"/>
<xs:element name="exchangeComplexDataTypesResponse" type="tns:exchangeComplexDataTypesResponse"/>
<xs:element name="sanityCheck" type="tns:sanityCheck"/>
<xs:element name="sanityCheckResponse" type="tns:sanityCheckResponse"/>
<xs:complexType name="sanityCheck">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:echo"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="echo">
    <xs:sequence>
      <xs:element name="payload" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sanityCheckResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:echo"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="exchangeComplexDataTypes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="exchangeComplexDataTypesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:hashMap"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="hashMap">
    <xs:complexContent>
      <xs:extension base="tns:abstractMap">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="abstractMap">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="exchangeComplexDataTypes">
    <wsdl:part element="tns:exchangeComplexDataTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sanityCheckResponse">
    <wsdl:part element="tns:sanityCheckResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exchangeComplexDataTypesResponse">
    <wsdl:part element="tns:exchangeComplexDataTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sanityCheck">
    <wsdl:part element="tns:sanityCheck" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="jaxwsWsdl_PortType">
    <wsdl:operation name="sanityCheck">
      <wsdl:input message="tns:sanityCheck" name="sanityCheck">
    </wsdl:input>
      <wsdl:output message="tns:sanityCheckResponse" name="sanityCheckResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exchangeComplexDataTypes">
      <wsdl:input message="tns:exchangeComplexDataTypes" name="exchangeComplexDataTypes">
    </wsdl:input>
      <wsdl:output message="tns:exchangeComplexDataTypesResponse" name="exchangeComplexDataTypesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="jaxwsWsdl_ServiceSoapBinding" type="tns:jaxwsWsdl_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sanityCheck">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sanityCheck">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sanityCheckResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exchangeComplexDataTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="exchangeComplexDataTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="exchangeComplexDataTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="jaxwsWsdl_Service">
    <wsdl:port binding="tns:jaxwsWsdl_ServiceSoapBinding" name="jaxwsWsdl_PortTypePort">
      <soap:address location="http://localhost:8080/helloJaxWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>