soa/sy/gpe-camel-soap-choice/src/main/resources/IBeanOne.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IBeanOne" targetNamespace="http://domain.quickstarts.switchyard.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://domain.quickstarts.switchyard.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://domain.quickstarts.switchyard.org/" targetNamespace="http://domain.quickstarts.switchyard.org/" version="1.0">
<xs:element name="TestDomain" type="tns:testDomain"/>
<xs:element name="modifyField1" type="tns:modifyField1"/>
<xs:element name="modifyField1Response" type="tns:modifyField1Response"/>
<xs:element name="modifyField2" type="tns:modifyField2"/>
<xs:element name="modifyField2Response" type="tns:modifyField2Response"/>
<xs:complexType name="testDomain">
    <xs:sequence>
      <xs:element minOccurs="0" name="field1" type="xs:string"/>
      <xs:element minOccurs="0" name="field2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="modifyField1">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:testDomain"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="modifyField2">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:testDomain"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="modifyField1Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:testDomain"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="modifyField2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:testDomain"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="modifyField1">
    <wsdl:part name="parameters" element="tns:modifyField1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyField1Response">
    <wsdl:part name="parameters" element="tns:modifyField1Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IBeanOnePortType">
    <wsdl:operation name="modifyField1">
      <wsdl:input name="modifyField1" message="tns:modifyField1">
    </wsdl:input>
      <wsdl:output name="modifyField1Response" message="tns:modifyField1Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IBeanOneSoapBinding" type="tns:IBeanOnePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="modifyField1">
      <soap:operation soapAction="modifyField1" style="document"/>
      <wsdl:input name="modifyField1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifyField1Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IBeanOne">
    <wsdl:port name="IBeanOnePort" binding="tns:IBeanOneSoapBinding">
      <soap:address location="http://localhost:8080/camel-soap-choice/IBeanOne"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
